{% extends "base.html" %}

{% load item_extras %}
{% load voting_tags %}

{% block title %}{% if header %}{{ header }} ({{ first_on_page }}-{{ last_on_page }} of {{ hits }} video{{ hits|pluralize }}){% else %}Videos {{ first_on_page }}-{{ last_on_page }} of {{ hits }} matching "{{ query }}"{% endif %} - {{ current_site.name }}{% endblock title %}
{% block bodyid %} id="list"{% endblock bodyid %}

{% block content %}

	<div class="section">

		<div class="main-column">

			{% if item_list %}

			<div class="block video-list">

				<div class="page-header">
		
					<h2>{% if header %}{{ header }}{% else %}Videos matching &#8220;{{ query }}&#8221;{% endif %}</h2>
		
				</div>

				<ol>

					{% for item in item_list %}

					<li class="group">

						<a class="thumbnail" href="{{ item.get_absolute_url }}"><img src="{% fetch_thumbnail_url item 148 87 %}" alt="" /><span></span></a>

						<div class="details">
					
							<h4 class="title"><a href="{{ item.get_absolute_url }}">{{ item.headline }}</a></h4>
	
							<p class="meta group">

								<span class="date">Posted on {{ item.pub_date|date:"F j, Y" }}</span>
							
								{% if item.group %}
								
								<span class="category {{ item.group.short_name }}">Category: {{ item.group.get_html_tag|safe }}</span>
								
								{% endif %}
								
							</p>
	
							{% if item.summary %}
							
							<p>{{ item.summary }}</p>
							
							{% endif %}

						</div>

					</li>

					{% empty %}

					<li><p>No videos match your query.</p></li>

					{% endfor %}

				</ol>

			</div>

			<div class="paginator paginator-bottom">

			    <span class="step-links group">

					<a class="newer" href="?page={{ next_page_number }}">&laquo; Newer</a>

					<a class="older" href="?page={{ previous_page_number }}">Older &raquo;</a>
			    
			    </span>
				
			</div>

			{% else %}

			<p class="no-content">{% if noitems %}{{ noitems }}{% else %}No videos match your query.{% endif %}</p>

			{% endif %}

		</div>

		<div class="sub-column">

			<!-- Categories -->

			<div id="categories" class="block">

				<div class="block-header">

					<h3>Categories</h3>

				</div>

				{% load item_extras %}{% get_groups as group_list %}
				
				{% if group_list %}
			
				<ul>
				
					{% for group in group_list %}
					
					<li class="{{ group.short_name }}"><a href="/{{ group.short_name }}/">{{ group.display_name }}</a></li>
					
					{% endfor %}
				
				</ul>
			
				{% endif %}

			</div>

			<!-- Most Popular -->

			<div id="popular-videos" class="block video-list">

				<div class="block-header">

					<h3>Popular Videos</h3>

				</div>

				{% if top_viewed_items %}

				<ol>

					{% for item in top_viewed_items %}

					<li>
						<a class="thumbnail" href="{{ related_item.get_absolute_url }}"><img src="{% fetch_thumbnail_url related_item 143 90 %}" alt="" /><span></span></a>
						<h4 class="title"><a href="{{ related_item.get_absolute_url }}">{{ item.headline }}</a></h4>
					</li>

					{% endfor %}

				</ol>

				{% else %}

				<p>There are no related videos for this video.</p>

				{% endif %}

			</div>

		</div>

	</div>

{% endblock content %}
